@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Trisha Test Hello</p>

<p>justin Test Hello</p>

<p>rose Test Hello</p>

<p>jaya Test Hello</p>
<p>gopalTest Hello</p>